<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/027c255b-973f-4215-ab1a-93ac7c610fa3/resourceGroups/QRTracks/providers/Microsoft.Web/sites/QRTracks</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://qrtracks.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>qrtracks.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>QRTracks</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$QRTracks</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>